.modebar.modebar--hover {
  display: none !important;
}

.js-plotly-plot .plotly .modebar.modebar--hover {
  display: none !important;
}

.js-plotly-plot .plotly .modebar {
  display: none !important;
}

.modebar {
  display: none !important;
}
